/* Estilos generales */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black; /* Fondo oscuro */
  color: white; /* Texto blanco */
}

/* Barra de navegación */
.navbar {
  background-color: white; /* Barra de navegación blanca */
  position: fixed;
  height: 30px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.navbar h1 {
  color: black; /* Título negro */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

/* Estilos para los botones */
.icon-button, .lang-button {
  background-color: black; /* Botones de íconos negros */
  color: white; /* Texto blanco en botones */
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}




/* Contenido */
.content {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Caja de imágenes */
.image-box {
  width: 250px;
  background-color: black; /* Fondo negro en las imágenes */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-box img {
  width: 100%;
  height: auto;
}

/* Pie de página */
footer {
  background-color: white; /* Fondo blanco en el pie de página */
  color: black; /* Texto negro */
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

/* Modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: black; /* Fondo negro en el modal */
  color: white; /* Texto blanco */
  padding: 20px;
  text-align: center;
  max-width: 100%;
  max-height: 80%;
  overflow-y: auto;
  position: relative; /* Asegura que el botón de cerrar esté posicionado correctamente */
}

.modal img {
  width: 90%;
  max-width: 600px;
}

/* Botón de cerrar */
.close {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 30px;
  color: white; /* Color blanco en el botón de cerrar */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Títulos y descripciones del modal */
.modal-title, .modal-description {
  margin-top: 10px;
  font-size: 18px;
}

.modal-description {
  font-size: 14px;
  color: gray;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .gallery {
      flex-direction: column;
      align-items: center;
  }
}


